body {
    margin: 0;
    padding: 0;
}

.hawamahall {
    background-image: url("https://images.hindustantimes.com/img/2021/02/28/1600x900/venkateswara-temple_4506d2b4-9f29-11ea-8b22-f47c01eaa370_1614482205206.jpg");
    background-size: cover;
    height: 100vh;
    padding: 10px;
    color: white;
    overflow-y: scroll;
    
}

.heading {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 80px;
}

.paragraph{
    font-size: 20px;
    font-family: sans-serif;
    width: 60vw;

}

.information {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}